<h3>模板驱动表单验证</h3>
<div class="form-group">
  <label>
    姓名：
    <input
      class="form-control"
      type="text"
      name="name"
      required
      appForbiddenName="mrbob"
      minlength="4"
      [(ngModel)]="inputName"
      #nameValidator="ngModel"
    />
  </label>

  <div
    *ngIf="nameValidator.invalid && (nameValidator.dirty || nameValidator.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="nameValidator.errors.required">
      姓名为必填字段
    </div>

    <div *ngIf="nameValidator.errors.minlength">
      姓名最小字段为4
    </div>

    <div *ngIf="nameValidator.errors.appForbiddenName">
      输入不能为bob
    </div>
  </div>
</div>

<h3>响应式表单验证</h3>
<app-reactive-form-validate></app-reactive-form-validate>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
